*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:
linear-gradient(135deg,#08142e,#102a5e);

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

color:white;

}

.container{

width:900px;

}

.container h1{

margin-bottom:30px;

}

.chat-box{

height:500px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(20px);

border-radius:30px;

padding:30px;

overflow-y:auto;

}

.ai-message{

background:#24365f;

padding:20px;

border-radius:20px;

width:fit-content;

max-width:70%;

margin-bottom:20px;

}

.user-message{

background:#2563eb;

padding:20px;

border-radius:20px;

width:fit-content;

max-width:70%;

margin-left:auto;

margin-top:20px;

}

.input-area{

display:flex;

margin-top:25px;

gap:20px;

}

input{

flex:1;

padding:18px;

border:none;

outline:none;

border-radius:15px;

}

button{

padding:18px 40px;

border:none;

border-radius:15px;

background:

linear-gradient(90deg,#2563eb,#3b82f6);

color:white;

cursor:pointer;

}

