*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:
linear-gradient(135deg,#08142e,#102a5e);

min-height:100vh;

padding:50px;

color:white;

}

.container{

width:90%;

margin:auto;

}

.container h1{

font-size:50px;

margin-bottom:50px;

text-align:center;

}

.cards{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(320px,1fr));

gap:30px;

}

.card{

background:rgba(255,255,255,.08);

backdrop-filter:blur(20px);

border-radius:25px;

padding:25px;

box-shadow:
0 10px 40px rgba(0,0,0,.4);

transition:.4s;

}

.card:hover{

transform:translateY(-10px);

}

.card img{

width:100%;

height:220px;

object-fit:cover;

border-radius:20px;

margin-bottom:20px;

}

.card h2{

margin-bottom:20px;

font-size:30px;

}

.card p{

line-height:2;

font-size:18px;

color:#dbeafe;

}

button{

margin-top:20px;

width:100%;

padding:15px;

border:none;

border-radius:15px;

font-size:18px;

cursor:pointer;

background:
linear-gradient(90deg,#2563eb,#3b82f6);

color:white;

}