*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

min-height:100vh;

background:
linear-gradient(135deg,#08142e,#102a5e);

display:flex;

justify-content:center;

align-items:center;

padding:50px;

color:white;

}

.container{

width:1000px;

}

.container h1{

font-size:50px;

margin-bottom:15px;

}

.container p{

font-size:20px;

margin-bottom:40px;

color:#dbeafe;

}

.card{

background:rgba(255,255,255,.08);

backdrop-filter:blur(20px);

padding:40px;

border-radius:30px;

display:grid;

grid-template-columns:1fr 1fr;

gap:20px;

box-shadow:
0 10px 40px rgba(0,0,0,.4);

}

input,
select{

padding:18px;

border:none;

outline:none;

border-radius:15px;

font-size:16px;

}

button{

grid-column:span 2;

padding:18px;

border:none;

border-radius:15px;

font-size:18px;

background:
linear-gradient(90deg,#2563eb,#3b82f6);

color:white;

cursor:pointer;

}

.result{

margin-top:40px;

background:rgba(255,255,255,.08);

padding:40px;

border-radius:30px;

backdrop-filter:blur(20px);

}

.result h2{

margin-top:20px;

color:#93c5fd;

}

.result h1{

font-size:40px;

margin-top:15px;

}

